<div class="row">
    <div class="col">
        <form onsubmit="return addProduct(this)" class="mt-5">
            <input class="form-control" type="text" required="required" id="nombre" name="title" placeholder="Product">
            <br>
            <input class="form-control" type="text" required="required" id="category" name="category"
                placeholder="Category">
            <br>
            <input class="form-control" type="number" required="required" id="precio" name="price" placeholder="Price">
            <br>
            <input class="form-control" type="text" required="required" id="thumbnail" name="thumbnail"
                placeholder="thumbnail">
            <input type="submit" value="Add Product">
        </form>
    </div>
</div>