{{!-- <div class="divFormulario">
    <div class="formulario">
        <h2 class="formulario__titulo">LOGEO</h2>
        <form onsubmit="return addUser(this)">

            <input class="form-control" type="text" id="usuario" name="nombre" placeholder="ingrese Nombre"
                required="required">
       
            <input type="submit" class="btn btn-outline-success" value="AgregarNombre">
        </form>
            <form action="http://localhost:8080/cookies/save" method="post">
            <input type="submit" class="btn btn-outline-success" value="LOGEAR">
    </form>

           </form>
            <form action="http://localhost:8080/logout" method="get">
            <input type="submit" class="btn btn-outline-success" value="deslogear">
    </form>
    </div>
</div> --}}
