<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/estilos.css">
    <script src="../socket.io/socket.io.js"></script>
</head>

<body>
    <h1>este es el carrito</h1>

    <h1>{{mensaje}}</h1>
    <div id="orden"></div>

    <button onclick="mandarCarrito()"> VER CARRITOS DE COMPRA</button>

 
    <h1><a href="/api/productos">Seguir comprando</a></h1>

     <h1><a href="/api/carrito/ordenes/orden">VISUALIZAR ORDENES REALIZADAS</a></h1>
    <script src="/indexCarrito.js"></script>
</body>

</html>