<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Logeate Por favor </h1>
    <!-- login -->
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <button type="submit"> Enviar</button>
    </form>
    <h2>si no tenes cuenta create una</h2>
    <h3> Desde siguiente link
        <a href="/signup">Crear Cuenta</a>
    </h3>
</body>

</html>